.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 10px;
}

.logo {
  width: 200px;
  scale: 1.2;
}

.button {
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
  color: white;
  background-color: var(--accent-color);
  transition: background-color 200ms ease;
}

.button:hover {
  cursor: pointer;
  background-color: #24656e;
}
