.posts {
  height: calc(100vh - 167px);
  background-color: var(--secondary-color);
  overflow-y: scroll;
  scrollbar-width: none;
  margin-top: 20px;
}

.posts::-webkit-scrollbar {
  display: none;
}
