.recommendations {
  height: calc(100vh - 150px);
  scrollbar-width: none;
  overflow-y: auto;
  border-radius: 20px;
  box-shadow: 0 20px var(--secondary-color);
}

.recommendations::-webkit-scrollbar {
  display: none;
}

.button {
  all: unset;
  padding: 10px;
  border-bottom: 2px solid var(--seperator-color);
}

.button:hover {
  cursor: pointer;
}