.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  text-align: center;
  width: 600px;
  max-width: 100%;
}

.h2 {
  color: var(--secondary-color);
  padding: 25px 0;
  border-bottom: 1px solid var(--secondary-color);
}

.avatar {
  width: 120px;
  height: 120px;
  margin-top: 70px;
  object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.remove-avatar {
  position: absolute;
  top: 0;
  left: 58%;
  width: 40px;
  height: 40px;
  background-color: red;
  border: 5px solid rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  transition: background-color 200ms ease;
  padding: 5px;
}

.remove-avatar:hover {
  cursor: pointer;
  background-color: rgba(255, 0, 0, 0.8);
}

.input {
  width: calc(100% - 60px);
  margin: 30px;
  border: none;
  outline: none;
  padding: 5px;
  font-size: large;
  color: var(--secondary-color);
  background-color: transparent;
  border-bottom: 2px solid var(--secondary-color);
}

.button {
  all: unset;
  background-color: var(--accent-color);
  padding: 15px;
  margin-top: 40px;
  margin-bottom: 20px;
  color: white;
  width: calc(100% - 200px);
  border-radius: 20px;
  font-size: larger;
  transition: background-color 200ms ease;
}

.button:hover {
  cursor: pointer;
  background-color: #24656e;
}

.p {
  color: var(--secondary-color);
  padding-top: 20px;
  padding-bottom: 30px;
}

.change-avatar-label {
  color: var(--secondary-color);
}

.change-avatar-label:hover {
  cursor: pointer;
}
