apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: frontend
  name: frontend-deployment
spec:
  replicas: 1
  minReadySeconds: 30
  selector:
    matchLabels:
      app: frontend
  strategy:
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 50%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend-container
          image: __DOCKERHUB_LOGIN__/microblog-frontend:__IMAGE_TAG__
          imagePullPolicy: Always
          ports:
          - containerPort: 2137
          env:
          - name: REACT_APP_SERVER_URL
            value: "http://nginx-service" # NGINX LOAD BALANCER EXTERNAL IP http://<IP>/api
          resources:
              requests:
                cpu: 100m
                memory: 512Mi
              limits:
                cpu: 500m
                memory: 1024Mi